@media screen and (max-width:1024px){
    .large-only-txt,.iphone-only-txt{
        display: none;
    }
    .profile-area{
        display: none;
    }
}
@media screen and (max-width:575px) { 
    /*　画面サイズが575px以下はここを読み込む　*/
    .txt_XL{font-size: 26px;}
    .txt_L{font-size: 22px;}
    .txt_M{font-size: 17px;}
    .txt_S{font-size:10px;}
    .txt_XS{font-size:4px;}


}@media screen and (max-width:767px){
    /*　画面サイズが768pxから1024pxまではここを読み込む　*/
    body {background-image: url("../../img/bg_small.png");}
    aside{
        display: none;
    }
    .iphone-only{
        display:flex;
    }
    .pc-only{
        display: none;
    }
    .txt_XL{font-size: 30px;}
    .txt_L{font-size: 26px;}
    .txt_M{font-size: 21px;}
    .txt_S{font-size:14px;}
    .txt_XS{font-size:8px;}
    .iphone-only-txt{
        display: inline-block;
    }
    .profile-area{
        display: block;
        height: 60px;
    }

}

@media screen and (min-width:768px){
    /*　画面サイズが768pxから1024pxまではここを読み込む　*/
    body {background-image: url("../../img/bg.png");}

    .txt_XL{font-size: 34px;}
    .txt_L{font-size: 30px;}
    .txt_M{font-size: 25px;}
    .txt_S{font-size:18px;}
    .txt_XS{font-size:12px;}

    .iphone-only{
        display: none;
    }
    .profile-area{
        height: 70px;
    }
}
@media screen and (min-width:1500px){
    .txt_XL{font-size: 37px;}
    .txt_L{font-size: 33px;}
    .txt_M{font-size: 28px;}
    .txt_S{font-size:21px;}
    .txt_XS{font-size:15px;}
}
@media screen and (min-width:2400px){
    .txt_XL{font-size: 41px;}
    .txt_L{font-size: 37px;}
    .txt_M{font-size: 32px;}
    .txt_S{font-size:25px;}
    .txt_XS{font-size:19px;}
}
.title_txt{
    font-size: 30px;
}
html{
    height:100%;
}
body{ 
    background-size: cover;
    background-repeat: no-repeat;
    height: 100%;
    background-attachment: fixed;
    /* font-family:  comic Sans MS; */
    font-family: 'Bradley Hand','Bradley Hand','Segoe Print','HanziPen TC','ヒラギノ角ゴシック','Hiragino Sans','ＭＳ ゴシック',sans-serif;
    -webkit-appearance: none;
    -webkit-text-size-adjust: 100%;
    height: 100%;
}
/* ------------------------height:max----------------------- */
#app{
    height: 100%;
}
#app > .main-area{
    height: 100%;
    position: relative;
}
#app > .main-area > aside,
#app > .main-area > main{
    margin-top: 64px;
}
.sidebar{
    margin: auto;
}
/* -----------------------common--------------------------- */
:root {
    --main-cm-color-white: #fff; /*フォント、背景色共通色*/

    --main-fn-color-black: #444444;/*フォント色*/
    --main-fn-color-gray: #5f5f5f;

    --main-bg-color-gray: #ffffff59;/*背景色*/
    --main-bg-side-color-gray: #ffffffcc;

    --btn-bg-color-gray:#fbfbfb9e;
    --btn-bg-hover-color-gray:#fbfbfbde;
}


.btn-common{
    text-align: center;
    white-space: normal;
    background-color:var(--btn-bg-color-gray) ;
    color:var(--main-fn-color-gray);  
    border-radius: 25px;
}
.btn-common:hover {
    background-color: var(--btn-bg-hover-color-gray) !important;
    color:var(--main-fn-color-gray);
    outline: none !important;
    box-shadow: none;
}
.iphone-only{
    height:100%;
    flex-direction: column;
    color: var(--main-cm-color-white);
}
.iphone-only > .contents > a{
    color: var(--main-cm-color-white);
}
/* -----------------------ここまでcommon--------------------- */
.login-form-title{
    color: var(--main-cm-color-white);
    border: none;
    margin: 30px 0;
}
.form-contents-area{
    margin-bottom: 30px;
}
.login-form-control{
    color: var(--main-cm-color-white);
    opacity: 0.9;
    background-color: var(--main-bg-color-gray);
    border-radius: 25px;
    line-height: calc(38px + 2vw);

}
.login-form-control::placeholder {
    color: var(--main-cm-color-white);
}
.login-form-control:focus {
    outline: none !important;
    box-shadow: none;
}

/* ラベルのスタイル　*/
.chkbox label {
	padding-left:		38px;			
	line-height:		30px;
	display:		inline-block;
    cursor:			pointer;
    /* text-align: center; */
	position:		relative;
}

/* ボックスのスタイル */
.chkbox label:before {
	content:		'';
	width:			calc(32px - 0.5vw);		/* ボックスの横幅 */
	height:			calc(32px - 0.5vw);			/* ボックスの縦幅 */
	display:		inline-block;
	position:		absolute;
	left:			0;
	background-color:var(--main-cm-color-white);
	box-shadow:		inset 1px 2px 3px 0px var(--main-bg-color-gray);
	border-radius:		6px;
}

/* チェックした時のスタイル */
.chkbox input[type=checkbox]:checked + label:before {
	content: '\2713';		/* チェックの文字 */ 
	font-size: calc(30px - 0.5vw);			/* チェックのサイズ */
	color: var(--main-fn-color-black);			/* チェックの色 */
}


.btn{
    padding: 1.5vw 5vw;
    font-size: calc(30px - 0.5vw);
    /* width: 75%; */
    margin: auto;
}
/* ------------------------------Loading-------------------------- */
#overlay{   
    position: fixed;
    top: 0;
    z-index: 100;
    width: 100%;
    height:100%;
    display: none;
    background: rgba(0,0,0,0.6);
}
.cv-spinner {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;  
}
.spinner {
    width: 40px;
    height: 40px;
    border: 4px var(--main-fn-color-black) solid;
    border-top: 4px var(--main-cm-color-white) solid;
    border-radius: 50%;
    animation: sp-anime 0.8s infinite linear;
}
@keyframes sp-anime {
    100% { 
        transform: rotate(360deg); 
    }
}
/* ------------ここまでログイン画面--------- */



.navbar{
    background-color:var(--main-fn-color-gray);
    position: fixed;
    width: 100%;
    z-index: 100;
    
}
#app > nav >.header-fn-color,
#app > nav >.collapse > ul > .header-fn-color{
    color:var(--main-cm-color-white);
}
.logo-user-icon{
    border-radius: 50%;
}
.sidebar{
    display: block;
    background-color:var(--main-bg-side-color-gray);
    height:100%;
    min-height:100%;
    position: fixed;
    display: flex;
    flex-direction: column;
    
}
.profile-area{
    overflow-y: scroll;
}
.side-color > label,
.side-color > .praise_cnt > label,
.side-color > .contents > a,
.side-color > .other_ > i{
    color: var(--main-fn-color-black);
}

.contents{
    display: flex;
    flex-direction: column;
    border-color:var(--main-fn-color-black);
}
.contents > a{
    margin-top: 10px;
}
.contents > a:hover{
    color: var(--main-fn-color-black);
}